* {
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    font-family: Arial;
}
a {
    text-decoration: none;
    font-family: Georgia;
    font-size: 20px;
    color: #fff;
}
.background-top h1{
    text-align: center;
}
img {
    width: 600px;
    height:400px;
    margin-left: 150px;
    margin-top: 50px;
}
body {
    background-color: darkkhaki;
}
canvas {
    width: 600px;
    height:400px;
    border: 1px solid #fff;
}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    list-style: 0;
    visibility: hidden;
    overflow: hidden;
}
.disable {
    opacity: 0.6;
    pointer-events: none;
}
.menu {
    padding: 0px 25px;
}
.menu, .sub-menu {
    list-style: none;
    background: #320000;
}
.menu li {
    position: relative;
    padding: 10px 15px;
}
.menu > li {
    float: left;
}
.menu > li:hover {
    background: gold;
}
.menu li:hover > .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    min-width: 250px;
    margin-top: 10px; 
}
.sub-menu:hover {
    background: #320000;
}
.sub-menu .sub-menu {
    top: 0;
    left: 100%;
}
table, thead, tbody,
th, td, tr {
    border: 1px solid;
}
.table-center {
    float: center;
}
.table-center, .table-left, 
.table-right {
    margin: 35px 100px;
}
.table-left {
    float: left;
}
.table-right {
    float: right;
}
td a {
    color: darkred;
}
th, td, tr {
    padding: 5px 15px;
}


