<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HQ - Online</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" media="screen and  (min-width: 250px) and (max-width: 500px)" href="../css/mobile.css">
    <link rel="stylesheet" media="screen and  (max-width: 650px)" href="../css/mobile.css">
    <link rel="stylesheet" media="screen and (min-width: 500px) and (max-width: 1250px)" href="../css/config-page.css">
    <link rel="stylesheet" media="screen and  (min-width: 1250px) and (max-width: 2500px)" href="../css/config-page.css">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="../angular/model/app.js"></script>
    <script src="../angular/controller/english-controller.js"></script>
    <script src="../js/alteration-layout.js"></script>
    <script src="../js/animation.js"></script>

	<div class="page-screen" ng-app="english">
		<nav>
            <ul>
                <li><a href="../index.html">Lyrics</a></li>
                <li><a href="tabs.html">Tabs</a></li>
                <li><a href="#">Help</a>
                    <ul>
                        <li><a href="tips.html">Tips</a></li>
                        <li><a href="learning-with-image.html">Learning With Image</a></li>
                    </ul>
                </li>
                <li><a href="#">English</a>
                    <ul>
                        <li><a href="learn.html">Learn</a></li>
                        <li><a href="body-human.html">Body Parts</a></li>
                        <li><a href="irregular-verbs.html">Irregular Verbs</a></li>
                    </ul>
                </li>
                <li><a href="#">Entertainment</a>
                    <ul>
                        <li><a href="movies.html">Movies</a></li>
                        <li><a href="#" class="disable">HQ Online</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="left-screen hide">
            
        </div>
        <div class="hide-unhide position-hide">
            <a onclick="alter()"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-right-128.png" alt="right-arrow"></a>
        </div>
        <div class="body-content left-align max center">
            <h1>HQ - Online</h1>
            <div ng-controller="generalCtrl">
                <div ng-repeat="x in hq | filter: genrehqRad" >
                    <div class="content-field cover-dvd zoom-in" name="{{x.genre}}">
                        <a href="{{x.url}}" target="_blank" class="{{x.onOffLink}}">
                            <img src="{{x.cover}}" alt="{{x.title}} {{x.subTitle}}">
                            <h6 class="{{x.onOffLink}}">
                                <div ng-if="x.subTitle != 0">
                                    <div class="feat">{{x.title}}</div>
                                    <div>{{x.subTitle}}</div>
                                    <div class="complete-content"></div>
                                </div>
                                <div ng-if="x.subTitle == 0">
                                    <div class="feat">{{x.title}}</div>
                                    <div class="complete-content"><br></div>
                                </div>
                            </h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
	</div>
</body>
</html>